<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ECOMMERCE</title>
  </head>
  <h1>User details</h1>
  <body>
     {% if use %}
     <div>
         {% for s in use %}
          name   : {{ s.name }}<br>
          Adress : {{ s.adress }}<br>
          mobile : {{  s.phone}}<br>
          Email  : {{  s.email}}<br>
          <hr>
          {% endfor %}
     </div>
      {% elif cat %}
      <div>
          <h2>Categories details  </h2>
          {% for  x in cat  %}
          name:{{ x.name }}<br>
          staus:{{x.status }}<br>
          {% endfor %}

    </div>
      {% elif ite %}
      <div>
          <h3>Item details</h3>
            {% for y in ite %}
            name:{{ y.name }}<br>
            descrption:{{y.Descrption}}<br>
            price:{{y.price}}<br>
            categories:{{y.Categories}}<br>
            {% endfor %}
      </div>
      {% elif ord %}
      <div>
          <h4> Order Details</h4>
            {% for z in ord %}
            item:{{ z.item }}<br>
            status:{{z.status}}<br>
            user:{{ z.user }}<br>
            totalprice: {{ z.Total_price }}<br>
            {% endfor %}
      </div>
      {% elif total %}
      <div>
          <h4> total Details</h4>
            {% for m in total %}
            item:{{ m.name }}<br>
            total:{{m.total}}<br>
            {% endfor %}
      </div>
    </div>
    {% elif average %}
    <div>
        <h4> Average Details</h4>
          {% for m in average %}
          item:{{ m.name }}<br>
          average:{{m.total}}<br>
          {% endfor %}
    </div>
     {% endif %}
  </body>
</html>
