<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: gray;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: red;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
  <h2>The Button Element</h2>
  <form action="/form/" method="post">
      {% csrf_token %}

    name:<input type="text" name="name" ><br>
    Adress:<input type="text" name="adress" ><br>
    phone:<input type="text" name="adress" ><br>
    email:<input type="text" name="adress" ><br>
    <input type="submit" value="Submit" />
    {{ form }}
  </form>
  {% if use %}
  <h2 style="color:blue;font-family:verdana;text-align:center;"> User Table</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Adress</th>
          <th>Phone</th>
          <th>Email</th>
        </tr>
         {% for s in use %}
        <tr>
          <td>{{s.name}}</td>
          <td>{{s.adress}}</td>
          <td>{{s.phone}}</td><br>
          <td>{{s.email}}</td>
          {% endfor %}
        </tr>
      </table>
  {% elif cat %}
        <h2 style="color:blue;font-family:verdana;text-align:center;">HTML  category Table</h2>
            <table>
              <tr>
                <th>name</th>
                <th>status</th>
              </tr>
               {% for k in cat %}
              <tr>
                <td>{{k.name}}</td>
                <td>{{k.status}}</td>
                {% endfor %}
              </tr>
            </table>
  {% elif ite %}
        <h2 style="color:blue;font-family:verdana;text-align:center;"> Item Table</h2>
            <table>
              <tr>
                <th>name</th>
                <th>Descrption</th>
                <th>Price</th>
                <th>Categories</th>
              </tr>
               {% for y in ite %}
              <tr>
                <td>{{y.name}}</td>
                <td>{{y.Descrption}}</td>
                <td>{{y.price}}</td>
                <td>{{y.Categories.name}}</td>
                {% endfor %}
              </tr>
            </table>
  {% elif ord %}
        <h2 style="color:blue;font-family:verdana;text-align:center;">  Order Table</h2>
            <table>
              <tr>
                <th>item</th>
                <th>user</th>
                <th>status</th>
                <th>Total_price</th>
              </tr>
               {% for z in ord %}
              <tr>
                <td>{{z.item}}</td>
                <td>{{z.user}}</td>
                <td>{{z.status}}</td>
                <td>{{z.Total_price}}</td>
                {% endfor %}
              </tr>
            </table>
 {% endif %}
</body>
</html>
